


body {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 0;
}

/* Hero section */


#hero {
    background: url("images/mtl-skyline.jpg");
    position: center;
    height: 340px;
    background-size: cover;
    padding-top: 25px;
    
}

#title-city {
    color: #F1FAEE;
    background-color: #457B9D;
    width: 250px;
    height: 34px;
    margin: 120px auto 16px;
    padding: 3px 12px 3px 16px;
    border-radius: 10px;
    font-size: 32px;
    font-weight: 700;
}

#title-info {
    color: #F1FAEE;
    background-color: #1D3557;
    width: 355px;
    height: 40px;
    margin: 0px auto 120px auto;
    padding: 8px 15px 3px 15px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
}


/* Activity section */

#activities {
    color: #1D3557;
    background-color: #F1FAEE;
    margin: -20px auto;
    height: 340px;
}

h3{
    padding-top: 30px;
}

.img-act {
    width: 75px;
    height: 75px;
    border-radius: 50%;

}
#activity-list {
    display: flex;
    align-items: start;
    justify-content: space-around;

}
.title {
    font-weight: bold;
}
.def {
    font-size: 13px;
}

.activity {
    padding: 35px;
    width: 350px;
}

/* Guide section */

#guide-section {
    color:#1D3557;
    background-color: #A8DADC;
    margin: 75px auto;
    padding: 5px;
    width: 350px;
    height: 220px;
    display: flex;
    align-items: center;
    border-radius: 9px;
    box-shadow: 0 5px #1D3557; 
}


#guide-info {
    margin: 0 20px 30px 20px;
}

.description {
    font-size: 13px;
    font-style: italic;
}
#avatar {
    width: 140px;
    height: 180px;
    margin: 0 0 0 13px;
    border-radius: 9px;
}
